*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ececec;
}

.search{
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
    font-family: 'BPG Arial';

}

.search button{
    font-size: 17px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    width: 20%;
    height: 40px;
    margin-left: 5px;
    font-family: 'BPG Arial';

}

.categorys{
    font-family: 'BPG Algeti';
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.category{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    font-size: 20px;
    font-family: 'BPG Algeti';
}


.category ul li{
    list-style: none;
    margin-top: 10px;
}

.category a{
    color: black;
    text-decoration: none;
    margin-left: 60px;

}

.marjvniv{
    float: right;
}

.dro{
    font-family: 'BPG Algeti';
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.droo{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    font-size: 20px;
    font-family: 'BPG Algeti';
    display: none;
}

.droo ul li{
    list-style: none;
    margin-left: 60px;
}

.back{
    margin: auto;
    width: 50%;
    height: 1000px;
    background-color: white;
    box-shadow: 0px 0px 20px 1px black;
}
